@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-icon {
    @apply w-6 cursor-pointer text-black hover:text-gray-700;
  }
  .voteButton {
    @apply w-6 cursor-pointer text-gray-400 p-1 hover:bg-gray-200 rounded-sm;
  }
  .postButton {
    @apply w-6 cursor-pointer text-gray-400 hover:text-gray-600 rounded-sm;
  }
}

@layer utilities {
  .grid-variant-formdata {
    display: grid;
    grid-template-columns: 100px 1fr;
  }
  .grid-variant-homepage {
    display: grid;
    grid-template-columns: 67% 31%;
    column-gap: 2%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rbg(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
